In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import chromedriver_autoinstaller
from selenium import webdriver

In [2]:
chromedriver_autoinstaller.install()
browser = webdriver.Chrome()

In [3]:
browser.get('https://shopee.co.id/shop/331370112/recommendation-landing?pageNumber=1&upstream=')
soup = BeautifulSoup(browser.page_source, 'lxml')

In [4]:
productappl = soup.find_all("div", class_="_89o+uF mC2b-a d-wZla")

In [5]:
priceappl = soup.find_all('div', class_='_1cMhqd tdQs-h')

In [6]:
prosldappl = soup.find_all('div', class_='r4l-mr R9rrSp')

In [8]:
base_url = 'https://shopee.co.id/shop/331370112/recommendation-landing?pageNumber={}&upstream='
url_2 = "https://shopee.co.id/appleflagship?page={}&sortBy=pop"
product_applshopee = []
price_applshopee = []
prosld_applshopee = []


for page in range(1,4):
    url1 = base_url.format(page)
    browser.get(url1)
    for prodc in productappl:
        product_applshopee.append(prodc.text)
    for priceshp in priceappl:
        price_applshopee.append(priceshp.text)
    for prodcsld in prosldappl:
        prosld_applshopee.append(prodcsld.text)

In [9]:
browser2 = webdriver.Chrome()
browser2.get("https://shopee.co.id/appleflagship?page=0&sortBy=pop")
soup2 = BeautifulSoup(browser2.page_source,'lxml')

In [10]:
popprodc = soup2.find_all('div',class_="DmFCAE")

In [11]:
popprice = soup2.find_all('div',class_="_1cMhqd tdQs-h")

In [12]:
popsld = soup2.find_all('div',class_="r4l-mr R9rrSp")

In [13]:
poppularprodc_inapplflgship = []
poppularprodcpr_inapplflgship = []
poppularprodcsld_inapplflgship = []
for page2 in range(1,7):
    url2 = url_2.format(page2)
    browser.get(url2)
    for poppro in popprodc:
        poppularprodc_inapplflgship.append(poppro.text)
    for poppri in popprice:
        poppularprodcpr_inapplflgship.append(poppri.text)
    for popusld in popsld:
        poppularprodcsld_inapplflgship.append(popusld.text)

In [18]:


datarecommendation = {
    "Nama Produk di toko ": product_applshopee,
    "Harga Produk di toko": price_applshopee,
}
allproductappleflagship = {
    "Nama Produk di toko apple flagship (shopee)":poppularprodc_inapplflgship,
    "Harga Produk":poppularprodcpr_inapplflgship
    
}

In [19]:
df1 = pd.DataFrame(allproductappleflagship)
df2 = pd.DataFrame(datarecommendation)

In [20]:
df1

    Nama Produk di toko apple flagship (shopee)  Harga Produk
0                   Apple iPhone 11 64GB, Black   Rp7.999.000
1                  Apple iPhone 11 128GB, White   Rp9.249.000
2    Apple iPhone 14 Pro Max 256GB, Deep Purple  Rp22.999.000
3                   Apple iPhone 13 128GB, Pink  Rp15.199.000
4      Apple iPhone 14 Pro Max 1TB, Deep Purple  Rp30.999.000
..                                          ...           ...
247               Apple 20W USB-C Power Adapter     Rp449.000
248  Apple iPhone 14 Pro Max 512GB, Space Black  Rp26.999.000
249            Apple iPhone 14 Plus 128GB, Blue  Rp17.999.000
250       Apple iPhone 14 Pro Max 256GB, Silver  Rp22.999.000
251         Apple iPhone 14 Pro Max 128GB, Gold  Rp21.999.000

[252 rows x 2 columns]

In [22]:
df2

                           Nama Produk di toko  Harga Produk di toko
0                   Apple iPhone 11 64GB, Black          Rp7.999.000
1                  Apple iPhone 11 128GB, White          Rp9.249.000
2    Apple iPhone 14 Pro Max 256GB, Deep Purple         Rp22.999.000
3                   Apple iPhone 13 128GB, Pink         Rp15.199.000
4      Apple iPhone 14 Pro Max 1TB, Deep Purple         Rp30.999.000
..                                          ...                  ...
139      Apple iPhone 14 Pro 256GB, Space Black         Rp20.999.000
140       Apple iPhone 14 Pro Max 128GB, Silver         Rp21.999.000
141         Apple iPhone 14 Pro Max 256GB, Gold         Rp22.999.000
142  Apple iPhone 14 Pro Max 128GB, Space Black         Rp21.999.000
143                     Apple Pencil (Gen ke 2)          Rp1.799.000

[144 rows x 2 columns]